$primary-background: #252836;
$secondary-background: #2d303e;
$primary-text: #e0e6e9;
$search-text: #abbbc2;
$orange: #ea7c69;
$light-orange: #ffb572;
$white: #fff;
$border: #393c49;
$divider: #3d3d3d;
$wrapper-background: #1f1d2b;
$box-shadow: rgba(234, 124, 105, 0.4);
$background-color: $primary-background;
$button-color: $orange;
$toggled-background: #543c3c;
$dish-modal: #201f26;
$black: #333;
$home-header: #35580f;
$dark-green: rgba(107, 226, 190, 0.24);
$light-green: #50d1aa;
$home-text: #000;
$overlay-background: rgba(20, 20, 20, 0.7);
$background-shadow: rgba(0, 0, 0, 0.7);
$payment-container: #2d303e;
