@mixin font-content {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

@mixin home-font($font-style, $font-weight, $font-size, $line-height) {
  font-family: Poppins;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin home-background($border-radius, $transform) {
  border-radius: $border-radius;
  transform: $transform;
}

@mixin payment-flex($flex-direction, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: center;
}

@mixin payment-font($font-weight, $font-size) {
  font-family: Barlow;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: 26px;
}
