@import '../color';

.admin-auth-page {
  min-height: 100vh;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-items: center;

  &__form {
    min-width: 300px;
    margin: auto;
  }

  &__icon {
    height: 80px;
    width: 80px;
    margin: 0 auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__auth-action {
    width: 100%;
    background: $button-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    outline: 0;
    border: 0;
    color: white;
    height: 45px;
    cursor: pointer;
    margin-top: 43px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  &__account {
    margin: 37px 0 15px;
  }

  &__password {
    margin: 10px 0;
  }

  &__switch {
    display: block;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 43px;
  }

  p {
    font-size: 14px;
    color: $orange;
  }
}
